DB_URL=jdbc:mysql://localhost:3306/emergency
DB_USERNAME=root
DB_PASSWORD=123456

SPRING_RABBITMQ_HOST=localhost
SPRING_RABBITMQ_PORT=5672
SPRING_RABBITMQ_USERNAME=guest
SPRING_RABBITMQ_PASSWORD=guest

JWT_SECRET=troque-por-uma-chave-bem-grande